*{
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: 'Inter', sans-serif;
}

  nav .btn {
    background-color: #252160;
    width: 90px;
    padding: 5px;
    margin-left: 5px;
  }
  
  header {
    height: 100vh;
    background-color: #252160;
    color: #F8F8F8;
  }

  header .col-md-6{
      margin-top: 8%;
  }

  header .header-text{
      padding: 70px;
  }
  
  header p {
    font-size: 1.2rem;
  }

  .title{
    color: #3AFFE5;width: 88%;font-weight: 700;
  }
  
  .robot-logo{
    width: 11%;height: 14%;
  }

  header h1{
    font-family: 'Fredoka One', cursive;
    font-size: 3.4rem;margin-top: 25px;
    margin-bottom: 25px;
  }

  .primary-btn{
      background-color: #3AFFE5;padding: 10px;
      color: #252160;font-weight: 700;width: 55%;
  }

  header .header-img{
    width: 90%;
  }
  

  .logos-div{
    background-image: url(../assets/img1.png);
    height: 25vh;
  }

  /* article */
  .icons-article{
    width: 60px;height: 60px;margin: auto;
  }

  .secondary-btn{
    background-color: #252160;padding: 10px;
    color: #fff;font-weight: 700;width: 40%;
    margin-left: 22px;
  }

  .article-img{
    background-image: url(../assets/img2.png);
    background-size: cover;
  }


  /*section with image*/
  .section-text{
    padding: 25px;
  }

  .section-text h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;color: #252160;
    margin-top: 15px;
  }

  .section-text p{
    color: #7B7B7B;
    font-size: 1.5rem;
  }

  .section-img img{
    width: 400px;padding: 5px;margin: auto;
    justify-content: center;display: flex;
  }

  /* div class prices */

  .prices h1{
    margin-top: 7px;
  }

  .prices ul{
    font-family: 'Nunito', sans-serif;margin-top: 10px;
    margin-bottom: 20px;
  }

  .prices li{padding: 6px;font-size: 0.9rem;}

  .card{
    width: 570px;margin: 2px;border-radius: 18px;
  }

  .card b, section b{
    color: #32B5FF;font-family: 'Nunito';
  }

  .card h2{
    font-weight: 700;font-family: 'Nunito', sans-serif;
  }
  .card p{font-family: 'Nunito', sans-serif;}

  .primary-card{
    background-color: #252160;color: white;
    padding: 30px;
  }

  .primary-card img{width: 122px;}

  .card-btn-1{
    width: 190px;padding: 10px;border: none;color: white;
    background-image: linear-gradient(to top left,#26E9CF, #73e9d9);
    font-weight: 700;border-radius: 6px;
  }

  .secondary-card{
    background-color: white;border: solid 1px #201E542E;
    padding: 30px;
  }

  .secondary-card ul{
    color: #252160;
  }

  .card-btn-2{
    width: 190px;padding: 10px;border: none;color: white;
    background-color: #252160;
    font-weight: 700;border-radius: 6px;
  }

  /*section*/
  section{
    font-family: 'Nunito', sans-serif;
  }

  .subtitle{color: #252160;font-family: 'Nunito', sans-serif;font-weight: 700;}
  .title-section{color: #32B5FF;font-weight: 700;}
  .card-text{color: #7B7B7B;}
  .card-img-top{width: 200px;}


  /*download app div*/
  .download{
    background-color: #252160;
  }

  .d-img{
    width: 455px;padding: 20px;
  }

  .d-text{
    margin-top: 30vh;padding: 5px;
  }

  .d-text .text{
    color: white;font-size: 1.4rem;
    width: 90%;font-weight: 400;
  }

  /* footer */
  .footer-img-1{
    width: 240px;padding: 10px;
  }

  .footer-img-2{
    width: 295px;padding: 10px;
  }

  .footer-primary{
    color: #252160;font-weight: 500;
  }

  .footer-secondary{
    color: #7B7B7B;
  }

@media only screen and (max-width: 700px){
    .header-img-div, .article-img{display: none;}
  }

@media only screen and (max-width: 445px){
    nav .btn{margin-left: 0;}

    header{text-align: center;}
    header .header-text{padding: 20px;}
    header h1{font-size: 2.6rem;}
    
    .robot-logo{width: 27%;height: 55px;margin: auto;}
    .title{width: 100%;margin-top: 25px;}

    .primary-btn{width: 80%;margin: auto;}

    .logos-div{height: 21vh;}

    .icons-article{display:flex;justify-content: center;margin-bottom: 15px;}
    .col-md-9{text-align: center;}
    .secondary-btn{width: 95%;margin-left: 6px;}

    .section-img img{width: 240px;padding: 0;margin: 30px;}
    .section-text{padding: 10px;text-align: center;width: 80vw;}
    .section-text h1{font-size:1.4rem;}
    .section-text p{font-size: 1.1rem;}

    .card{width: 355px;margin-left: 5px;}
    .primary-card img{width: 95px;margin:auto;display: flex;justify-content: center;}

    .title-section{width: 80vw;text-align: center;font-size: 1.2rem;}
    .subtitle{width: 80vw;text-align: center;font-size: 1.4rem;}

    .download{padding: 15px;}
    .d-img{width: 266px;}.d-text .robot-logo{width: 22%;}
    .d-text .text{font-size: 1rem;text-align: center;width: 85%;}

    .footer-texts{text-align: center;}
    .s-media{margin-bottom: 30px;margin-top: 20px;}
}